/* A container around the top level. Works with edges, margins, titles, and scrolling. */
#play-game-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#play-game-div h1 {
    margin: 10px;
    flex-basis: auto;
}

/* The container with the playable game inside it. */
#game-content {
    width: auto;
    height: auto;
    flex-grow: 1;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}

#game-canvas {
}

#zoom-controls {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 0;
}

#zoom-controls > button {
    width: 20px;
    height: 20px;
    font-size: 14px;
}

#action-controls {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

#action-controls > button {
    font-size: 16px;
}

#colony-info {
    position: absolute;
    left: 20px;
    bottom: 50px;
}

#colony-info-data {
    background-color: #cccccc;
    padding: 2px;
    width: 4em;
    display: flex;
    flex-direction: column;
}

#colony-info-collapse {
    align-self: end;
}

.control-btn {
    font-size: 12px;
    background-color: #cccccc;
    border-radius: 10px;
}
