/*
 * Contains the css used by the screens allowing players to join a game.
 */

.hidden {
    display: none;
}

.top-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Calibri, Candara, Segoe, Segoe UI, Arial, sans-serif;
}

.joining-controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    min-width: 20%;
}

.joining-controls h1 {
    text-align: center;
    margin: 0;
}

.joining-controls button {
    font-size: large;
}

.labeled-field-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#host-game-panel .labeled-field-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.has-back-button {
    position: relative;
}

.has-back-button .back-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: small;
}

#game-chooser {
}

#zero-games-widget {
    text-align: center;
    border: 1px solid black;
}

#multi-games-widget {
    border-collapse: collapse;
    border:1px solid black;
}

#multi-games-widget th {
    border:1px solid black;
}

#multi-games-widget td {
    border:1px solid black;
}